

<h1>Chat</h1>
<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new(receiver_id: params[:receiver_id],sender_id: current_user.id), remote: true do |f| %>
  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :receiver_id %>

  <%= f.text_field :content %>
  <%= f.submit "Send", onClick: "$('#chat').scrollTop($('ul li.message').last().position().top + $('ul li.message').last().height());" %>
<% end %>

<% if current_user.id < params[:receiver_id].to_i %>
	<%= subscribe_to "/messages/new/private/#{current_user.id}/#{params[:receiver_id]}" %>
<% else %>
	<%= subscribe_to "/messages/new/private/#{params[:receiver_id]}/#{current_user.id}" %>
<% end %>

<script>
$('#chat').scrollTop($('ul > li.message').last().position().top + $('ul > li.message').last().height());
</script>