<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Seller score</th>
    <th>Seller level</th>
  </tr>

  <tr>
  	<td><%= @user.name %></td>
  	<td><%= @user.email %></td>
  	<td><%= total_likes(@user) %></td>
    <td><%= @user.seller_level %></td>
	</tr>	
</table>
</p>

<% if !current_user?(@user) %>
	<%= link_to "Send a message to this person", messages_path(receiver_id: @user) %>
<% elsif current_user?(@user) %>
	| <%= link_to 'Edit', edit_user_path(@user) %> 
  | <%= link_to 'Liked Products', products_path(like: "true") %>
  | <%= link_to 'Sell Products', products_path(seller: current_user) %>

<% end %>
