<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if is_seller(current_user) %>
    	<th>Seller score</th>
    <% end %>
  </tr>

  <tr>
  	<td><%= @user.name %></td>
  	<td><%= @user.email %></td>
  	<% if is_seller(current_user) %>
  		<td><%= total_likes(current_user) %></td>
  	<% end %>
	</tr>	
</table>
</p>

<% if !current_user?(@user) %>
	<%= link_to "Send a message to this person", messages_path(receiver_id: @user) %>
<% elsif current_user?(@user) %>
	| <%= link_to 'Edit', edit_user_path(@user) %> 
  | <%= link_to 'Liked Products', products_path(like: "true") %>
<% end %>
