<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @flag.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @flag.product_id %>
</p>


<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
