<div class="cart_title">Your Cart</div>
<table class="table">
	<th>Name</th>
	<th>Quantity</th>
	<th>Total price</th>
	<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= link_to item.product.name, product_path(item.product) %></td>
			<td><%= item.quantity %></td>
			<td class="item_price" ><%= number_to_currency(item.total_price) %></td>
		</tr>
	<% end %>
	
	<tr class="total_line" >
		<td colspan="2" >Total</td>
		<td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?', class: "btn btn-large btn-primary " %>
<br>
<%= button_to 'Checkout', {action: "checkout", controller: "carts"}, :confirm => 'Are you sure to checkout?', :method => :delete, class: "btn btn-large btn-primary " %>