<p id="notice"><%= notice %></p>
<div class="span4 product_show">
  <%= image_tag @product.avatar.url(:medium) %>
  <% @product.product_images.each do |photo| %>
    <%= image_tag photo.image.url(:thumb) %>
  <% end %>
</div>
<div class="span4">
  <p>
    <b>Name:</b>
    <%= @product.name %>
  </p>
  <p>
    <b>Price:</b>
    <%= @product.price %>
  </p>
  <p>
    <b>Description:</b>
    <%= @product.description %>name
  </p>
  <p>
    <b>No of likes:</b>
    <%= @product.likes.count %>
  </p>

  <p>
    <b>Seller:</b>
    <%= link_to @product.user.name, user_path(@product.user.id) %>
  </p>

  <p>
  <%= button_to 'Add to Cart', line_items_path(:product_id => @product.id), class: "btn btn-large btn-primary signup-button" %>
  <br>
  <%= button_to 'Buy now', line_items_path(:product_id => @product.id, buynow: "true"), class: "btn btn-large btn-primary signup-button" %>
  </p>


  <%= render 'shared/like_button' %>
  <br>
  <% if is_admin(current_user) or is_seller_of(@product) %>
  <%= button_to 'Delete', product_path(@product), method: :delete , data: { confirm: "Are you sure?" },class: "btn btn-large btn-primary signup-button" %>
  <% end %>
  <br>
  <% if is_admin(current_user) %>
    <% if @product.ban == 0 %>
      <%= button_to 'Ban', product_ban_path(@product), method: :put , data: { confirm: "Are you sure?" },class: "btn btn-large btn-primary signup-button" %>
    <% elsif @product.ban == 1 %>
      <%= button_to 'Unban', product_ban_path(@product), method: :put , data: { confirm: "Are you sure?" },class: "btn btn-large btn-primary signup-button" %>
    <% end %>
  <% end %>


</div>

<!--<p>
  <b>User:</b>
  <%= @product.user_id %>
</p>






<% @product.product_images.each do |photo| %>
  <%= image_tag photo.image.url(:original) %>

<% end %>
-->
<!--
<br>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
-->
