<header>
<div class="row">
			<div class="navbar navbar-fixed-top">		
					<div class="navbar-inner">
						<%= link_to "MMSHOPS", root_path, class: "brand", id: "logo" %>
						<div class="nav-collapse">
							<ul class="nav pull-right">
								<li>
									<div id="city-wrapper">
										<label for="city">Choose your city</label>
										<%= select("city", "name", City.all.collect {|c| [ c.name, c.name ] }, { :include_blank => true }) %>
									</div>				
								</li>
								<li>
									<div id="search-wrapper">										
										<input type="text" class="input-large" placeholder="Search products">
										<button type="submit" class="btn">Search</button>			
									</div>
								</li>
								
								<% if signed_in? %>
									<li><%= link_to "CHAT", conversations_path %></li>
									<% if is_seller(current_user) %>
										<li><%= link_to "SELL", new_product_path %></li>
									<% elsif is_buyer(current_user) %> 
										<li><a href="#"><i class="icon-shopping-cart"></i>SHOPPING BAG</a></li>
									<% elsif is_admin(current_user) %>
										<li><%= link_to "Users", users_path %></li>
									<% end %>
									<li id="fat-menu" class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><%= link_to "Profile", user_path(current_user) %></li>
											<li><%= link_to "Settings", edit_user_path(current_user) %></li> 
											<li class="divider"></li>
											<li><%= link_to "SIGN OUT", signout_path, method: "delete" %></li>
										</ul>
									</li>
								<% else %>
									<li><%= link_to "SIGN IN", signin_path %></li>
									<li><%= link_to "SIGN UP", signup_path %></li>
								<% end %>
									
							</ul>
						</div>
					</div>
			</div>
		</div>
</header>

