
<div class="span3">
<div id="dl-menu" class="dl-menuwrapper">


    <!-- Have Some Unordered List with an id -->
<ul id="nav" >
  <h4>CATEGORIES</h4>
  <% Category.roots.each do |root| %> 
    <%= generate_child(root) %>
  <% end %>
</ul>

</div>
</div>

<!--<div>
    <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger">Open Menu</button>
    <ul id="category-list" class="dl-menu">
      <% Category.roots.each do |root| %> 
        <li class="cat-<%= root.id %>"><a href="#"> <%= root.name %></a>
          <ul class="dl-submenu">
          <% root.children.each do |child| %>
            <li class="cat-<%= child.id %>"><a href="#"><%= child.name %></a>
              <ul class="dl-submenu">
                <% child.children.each do |leaf| %>
                
                <li><%= link_to leaf.name, products_path(category_id: leaf.id), class: "cat-#{leaf.id}" %></li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    </div>
  </div>-->