<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @seller_info.user_id %>
</p>

<p>
  <b>Location:</b>
  <%= @seller_info.location %>
</p>

<p>
  <b>No of likes:</b>
  <%= @seller_info.no_of_likes %>
</p>


<%= link_to 'Edit', edit_seller_info_path(@seller_info) %> |
<%= link_to 'Back', seller_infos_path %>
